<div class="section">
  <h1>Brendan O'Keefe</h1>

  <div class="straight">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium modi, quae vero totam facere corrupti laboriosam cupiditate repellendus debitis molestiae odio ullam cum et placeat hic quidem earum, omnis esse.</p>
  </div>

  <svg xmlns="http://www.w3.org/2000/svg"
       viewBox="100 100 100 100"
       preserveAspectRatio="none">
    <polygon fill="white"
             points="0,100 100,0 100,100" />
  </svg>
</div>

<div class="section">
  <h1>EXPERIENCE</h1>

  <div *ngFor="let item of copy?.resume">
    <app-content-container [copy]="item"></app-content-container>
  </div>

  <svg xmlns="http://www.w3.org/2000/svg"
       viewBox="100 100 100 100"
       preserveAspectRatio="none">
    <polygon fill="white"
             points="0,100 100,0 100,100" />
  </svg>
</div>

<div class="section">
  <h1>WEB PORTFOLIO</h1>

  <div *ngFor="let item of copy?.resume">
    <app-content-container [copy]="item"></app-content-container>
  </div>

  <svg xmlns="http://www.w3.org/2000/svg"
       viewBox="100 100 100 100"
       preserveAspectRatio="none">
    <polygon fill="white"
             points="0,100 100,0 100,100" />
  </svg>
</div>